[data-theme="light"] {
    --background: #F1EFE8;
    --text: #161616;
    --accent: #00aebb;
    --warning: #FBA765;
    --error-accent: #E6474A;
    --error: #66023C;

    --button-background: rgba(22, 22, 22, 0.1);
    --button-border: rgba(22, 22, 22, 0.2);
    --button-background-hover: rgba(22, 22, 22, 0.2);
    --button-secondary-hover: rgba(22, 22, 22, 0.5);

    --button-accent-text: var(--background);
}